langchain
langchain-community
faiss-cpu
transformers
torch
unstructured
docx2txt
pypdf
sentence-transformers
fpdf
streamlit
fastapi
uvicorn
python-multipart
passlib[bcrypt]
sqlalchemy
python-jose[cryptography]
python-dotenv
pydantic[email]
scikit-learn
pdfplumber 
python-docx
extract-msg~=0.29.0
fitz
pymupdf
psycopg2-binary
#bcrypt==3.2.0